
{% load static %}
<!DOCTYPE html>
<html dir="rtl">
<head>
    <title>{% block title %}آموزش جنگو{% endblock %}</title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     <script src="https://kit.fontawesome.com/9c6ff8c120.js" crossorigin="anonymous"></script>
</head>
<body>
  <nav class="navbar  navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand text-danger" href="https://www.youtube.com/feed/my_videos?disable_polymer=true\"><i class="fab fa-youtube"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="navbar-brand text-success" href=""><i class="fab fa-whatsapp list-inline-item m-r-2"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            لینک ها
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{% url 'index' %}">خانه</a>
            <a class="dropdown-item" href="{% url 'learnpython' %}">مقاله جنگو</a>
            <a class="dropdown-item" href="{% url 'article' %}">مقاله جنگو</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  
  <div class="my-3"></div>
   

<div class="container">
    <h2 class="text-right">
      چی یاد میگیری اینجا؟
    </h2>
    <p class="text-right">
        بهترین آموزش چارچوب وب سایت جنگو پایتون و دوره های آموزشی برای مبتدیان

    </p>
    <p class="text-right my-3">
        جنگو یک چارچوب وب منبع باز است که در پایتون نوشته شده است. این حدود دوازده سال پیش ایجاد شد ، اما در دسامبر سال 2017 Django 2 با یک مجموعه کاملاً جدید از ویژگی ها و قابلیت ها منتشر شد!
         Django یک چارچوب شگفت انگیز برای توسعه دهندگان وب است زیرا زیرساخت های لازم برای وب سایت های مستقر در پایگاه داده را دارد که دارای اعتبار کاربر ، مدیریت محتوا ، فرم های تماس ، بارگذاری پرونده و موارد دیگر هستند. به جای ایجاد همه این ویژگی ها از ابتدا ، می توانید از فریم ورک Django استفاده کرده و از این مؤلفه هایی که قبلاً ساخته شده اند استفاده کنید و به جای آن ، 
        وقت خود را روی توسعه برنامه وب خود متمرکز کنید. بر اساس رتبه بندی و بررسی و کیفیت لیست لیست برتر آموزش های جنگو توسط متخصصین تهیه شده است. برای یادگیری Python Django  ، با دوره های زیر شروع کنید
    </p>
    <h2 class="text-right text-muted m-b-4">
        1- یادگیری HTML ، CSS ، Bootstrap ، Javascript
    
    </h2>
    <p class="text-right">
        در این دوره ما همه چیزهایی که باید بدانید برای ساختن یک وب سایت با استفاده از python ,django و فناوری های وب دیگر پوشش خواهیم داد.
    </p>
    <p class="text-center my-5">
        در اینجا فقط یک نمونه کوچک از مباحث موجود در این دوره آورده شده است:
    </p>

    <br>

    <ul class="list-inline">
        <li class="list-inline-item">Python</li>
        <li>Django Basics</li>
        <li>Django Templates</li>
        <li>Django Forms</li>
        <li>Django Admin Customization</li>
        <li>ORM</li>
        <li>Class Based Views</li>
        <li>REST APIs</li>
        <li>User Authentication</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>Bootstrap  4</li>
        <li>Document Object Model</li>
        
    </ul>
    <div class="my-5"></div>
    <p class="text-right">
        در این دوره ، ما به مفاهیم مختلف جنگو میپردازیم تا یک راهنمای جامع درباره موضوعاتی کاربردی  به شما ارایه دهیم از قبیل:
    </p>
    <ul class="list-inline">
        <li>Django Models</li>
        <li>Model Instance Methods & Properties</li>
        <li>Model-level field validation</li>
        <li>Django Forms and Formsets</li>
        <li>Relating Data with Foreign Keys in Django</li>
        <li>Handling Subdomains with Django Hosts</li>
        <li>Form validation</li>
        <li>Model Form</li>
        <li>Function Based Views (FBVs)</li>
        <li>Class Based Views (CBVs)</li>
        <li>CRUD in Django Views (Create Retrieve Update Delete List)</li>
        <li>Django Templates</li>
        <li>Template Inheritance</li>
        <li>Template shortcuts & Filters</li>
        <li>Django translation</li>
       
    </ul>
    <p class="text-center text-success">این اموزش ها نتیجه  دست کم دو سال تلاش شبانه روزی بنده حقیر بوده است.امیدوارم توانسته باشم تا حدودی رضایت شما رو جلب کرده باشم ، مارو  به دوستان خود معرفی کنید.</p>
</div>
<div class="my-2"></div>

 





<div class="container-fluid bg-dark">
    <!-- Footer -->
<footer class="page-footer font-small teal pt-4">

  <!-- Footer Text -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase font-weight-bold text-white text-center">چشم انداز ما</h5>
        <p class="text-white text-right"> 
          چارچوب های برنامه های وب می توانند دردسر و زمان زیادی را برای شما به همراه داشته باشند. اما این تنها در صورتی صادق است که بدانید چگونه از آنها استفاده کنید! اغلب منحنی یادگیری شیب دار است. این سایت سعی می کند شما را به سرعت و سریع پیش برود. این سایت با نشان دادن چگونگی تهیه یک برنامه وب با تمام زنگ ها و سوت ها از ابتدا ، این سایت منحنی یادگیری شما را کوتاه می کند. شما حتی از اوایل به پیشرفت خود راضی خواهید شد. </p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-6 mb-md-0 mb-3">

        <!-- Content -->
        <h5 class="text-uppercase font-weight-bold text-white text-center">همکاری</h5>
        <p class="text-white text-right">ما همیشه به دنبال راه هایی برای بهبود این منبع هستیم. اگر پیشنهادی ، پیشرفتی دارید ، یا می خواهیم در این پروژه مشارکت داشته باشید ، می خواهیم از شما بشنویم! ما همیشه به بازخورد خواننده گوش می دهیم - پیشرفت اخیر پیشنهاد شده توسط خواننده ، شامل تست هایی برای خوانندگان است تا بتوانند پیاده سازی های خود را در برابر آن مقایسه کنند ، بنابراین آنها می دانند که در مسیر هستند</p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Text -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 text-white">
    <img class="position-sticky" src="{% static 'img/images (1).png' %}" width="120px">

  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
</div>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
