{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="container-fluid my-3">
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="{% static 'img/images.png' %}" alt="Card image cap">
                  <div class="card-body">
                    <p class="card-text text-right text-primary">متمایزترین آموزش های پایتون تحت وب در دسترس شماست.</p>
                  </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-8 my-4">
                <p class="lead text-right">جنگو (Django)، یک وب فریمورک پایتونی رایگان و اپن سورس (Open-source) است که با هدف توسعه سریع، آسان و کارآمد، توسط توسعه دهندگان با تجربه، ساخته شده است. در جنگو می توانید بدون اختراع مجدد چرخ، فقط روی نوشتن برنامه خود تمرکز کنید. جنگو حرفه ای بودن را در کنار سادگی و سرعت به ارمغان می آورد.</p>
                <div class="container">
                  <h2 class="text-right">
                    چی یاد میگیری اینجا؟
                  </h2>
                  <p class="text-right">
                      بهترین آموزش چارچوب وب سایت جنگو پایتون و دوره های آموزشی برای مبتدیان
              
                  </p>
                  <p class="text-right my-3">
                      جنگو یک چارچوب وب منبع باز است که در پایتون نوشته شده است. این حدود دوازده سال پیش ایجاد شد ، اما در دسامبر سال 2017 Django 2 با یک مجموعه کاملاً جدید از ویژگی ها و قابلیت ها منتشر شد!
                       Django یک چارچوب شگفت انگیز برای توسعه دهندگان وب است زیرا زیرساخت های لازم برای وب سایت های مستقر در پایگاه داده را دارد که دارای اعتبار کاربر ، مدیریت محتوا ، فرم های تماس ، بارگذاری پرونده و موارد دیگر هستند. به جای ایجاد همه این ویژگی ها از ابتدا ، می توانید از فریم ورک Django استفاده کرده و از این مؤلفه هایی که قبلاً ساخته شده اند استفاده کنید و به جای آن ، 
                      وقت خود را روی توسعه برنامه وب خود متمرکز کنید. بر اساس رتبه بندی و بررسی و کیفیت لیست لیست برتر آموزش های جنگو توسط متخصصین تهیه شده است. برای یادگیری Python Django  ، با دوره های زیر شروع کنید
                  </p>
                  <h2 class="text-right text-muted m-b-4">
                      درک مقدماتی  از HTML , CSS ,Bootstrap ,Javascript
                  
                  </h2>
                  <p class="text-right my-3">
                      در این دوره ما همه چیزهایی که باید بدانید برای ساختن یک وب سایت با استفاده از python ,django و فناوری های وب دیگر پوشش خواهیم داد.
                  </p>
                  <p class="text-center my-5">
                      در اینجا فقط یک نمونه کوچک از مباحث موجود در این دوره آورده شده است:
                  </p>
              
                  <br>
              
                  <ul class="list-inline">
                      <li class="list-inline-item">Python</li>
                      <li>Django Basics</li>
                      <li>Django Templates</li>
                      <li>Django Forms</li>
                      <li>Django Admin Customization</li>
                      <li>ORM</li>
                      <li>Class Based Views</li>
                      <li>REST APIs</li>
                      <li>User Authentication</li>
                      <li>HTML</li>
                      <li>CSS</li>
                      <li>Bootstrap  4</li>
                      <li>Document Object Model</li>
                      
                  </ul>
                  <div class="my-5"></div>
                  <p class="text-right">
                      در این دوره ، ما به مفاهیم مختلف جنگو میپردازیم تا یک راهنمای جامع درباره موضوعاتی کاربردی  به شما ارایه دهیم از قبیل:
                  </p>
                  <ul class="list-inline my-4">
                      <li>Django Models</li>
                      <li>Model Instance Methods & Properties</li>
                      <li>Model-level field validation</li>
                      <li>Django Forms and Formsets</li>
                      <li>Relating Data with Foreign Keys in Django</li>
                      <li>Handling Subdomains with Django Hosts</li>
                      <li>Form validation</li>
                      <li>Model Form</li>
                      <li>Function Based Views (FBVs)</li>
                      <li>Class Based Views (CBVs)</li>
                      <li>CRUD in Django Views (Create Retrieve Update Delete List)</li>
                      <li>Django Templates</li>
                      <li>Template Inheritance</li>
                      <li>Template shortcuts & Filters</li>
                      <li>Django translation</li>
                     
                  </ul>
                  <p class="text-center text-success">این اموزش ها نتیجه  دست کم دو سال تلاش شبانه روزی بنده حقیر بوده است.امیدوارم توانسته باشم تا حدودی رضایت شما رو جلب کرده باشم ، مارو  به دوستان خود معرفی کنید.</p>
              </div>
              <div class="my-2"></div>
            </div>


        </div>
         </div>

         <h5 class="text-primary text-center mb-4">نمونه فیلم های آموزشی</h5>
         <hr class="my-3"></div>
         <div class="container">
             <div class="row mt-3">

                <div class="col-sm-4">
                    <video width="300"  controls>
                <source src="{% static 'video/Rec 0008.mp4' %}" type="video/mp4">

                  </video>
                  <p class="text-center text-muted"></p>
                  <p class="text-center text-muted"></p>
                </div>
                <div class="col-sm-4">
                    <video width="300"  controls>
                <source src="{% static 'video/Rec 0008.mp4' %}" type="video/mp4">

                  </video>
                  <p class="text-center text-muted"></p>
                  <p class="text-center text-muted"></p>
                </div>
                <div class="col-sm-4">
                    <video width="300"  controls>
                <source src="{% static 'video/Rec 0008.mp4' %}" type="video/mp4">

                  </video>
                  <p class="text-center text-muted"></p>
                  <p class="text-center text-muted"></p>
                </div>

        </div>
         </div>


{% endblock %}
